:root {
    color-scheme: light dark;

    --dmu-red: hsl(350 71% 39%);

    @media(prefers-color-scheme: dark) {
        --normal-bg1: hsl(0 7% 0%);
        --normal-bg2: hsl(0 70% 10%);
        --header-bg1: var(--dmu-red);
        --header-bg2: color-mix(in oklab, var(--header-bg1) 70%, black 30%);
        --accent-bg1: hsl(350 71% 30%);
        --accent-bg2: hsl(350 71% 20%);
    }

    @media(prefers-color-scheme: light) {
        --normal-bg1: white;
        --normal-bg2: hsl(0 30% 90%);
        --header-bg1: var(--dmu-red);
        --header-bg2: color-mix(in oklab, var(--header-bg1) 70%, white 30%);
        --accent-bg1: hsl(350 71% 30%);
        --accent-bg2: hsl(350 71% 20%);
    }
    
    --normal-grad: linear-gradient(45deg, var(--normal-bg1), 90%, var(--normal-bg2));
    --header-grad: linear-gradient(45deg, var(--header-bg1), 70%, var(--header-bg2));
    --accent-grad: linear-gradient(var(--accent-bg1), var(--accent-bg2));

    /* calculated colours for text */
    --normal-color: color-mix(in oklab, var(--normal-bg1) 10%, contrast-color(var(--normal-bg1)) 90%);
    --header-color: contrast-color(var(--header-bg1));
    --accent-color: color-mix(in oklab, var(--accent-bg1) 20%, contrast-color(var(--accent-bg1)) 80%);
    --normal-link-color: color-mix(in oklab, var(--header-bg1) 50%, contrast-color(var(--normal-bg1)) 50%);
    --header-link-color: color-mix(in oklab, var(--header-bg1) 50%, contrast-color(var(--header-bg1)) 50%);
    --accent-link-color: color-mix(in oklab, var(--accent-bg1) 80%, contrast-color(var(--accent-bg1)) 20%);
}

body {
    background: var(--normal-grad);
    color: var(--normal-color);

    a {
        color: var(--normal-link-color);
    }
}

header, footer {
    background: var(--header-grad);
    color: var(--header-color);

    a {
        color: var(--header-link-color);
    }
}

header {
    background:
        /* url("https://www.placecats.com/1600/400"), */
        /* url("https://picsum.photos/id/250/1600/1200"), */
        url("https://picsum.photos/id/491/1600/1600"),
        var(--header-grad);

    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    border-bottom-color: var(--normal-color);

    label {
        div {
            background-color: var(--header-color);      
        }
    }

    nav {
        a {
            border: 1px solid var(--header-color);
            color: inherit;
            /* mobile menu */
            @media (width < 500px) {
                background: var(--header-grad);
            }
        }
    }
}

main {
    img {
        border-color: var(--normal-color);
    }

    section {
        --color: var(--normal-color);
        --opposite-color: var(--accent-color);
        color: var(--color);

        &:nth-of-type(even) {
            --color: var(--accent-color);
            --opposite-color: var(--normal-color);
            background: var(--accent-grad);

            a {
                color: var(--accent-link-color);
            }
        }
    }
}