

@layer animated-header {

    body {  

        /* Instantiate a new variable here: */
        /* Multiple elements can share the timeline */
        timeline-scope: --header-shrink-timeline;

        header {
            top: 0;
            z-index: 1;
            position: sticky;
        }

        main {
            section:nth-child(1) {
                view-timeline: --header-shrink-timeline; /* create a timeline in our variable? */
            }
        }
        
        @media (width < 10000px) {
            /* add the header shrink animation */
            header {
                box-sizing: border-box;
                min-height: 80dvmin;
                animation: shrink forwards linear;
                animation-timeline: --header-shrink-timeline;
                /* animation-range: exit 5dvmin 100%; */
            }
            main {
                section:nth-child(1) {
                    padding-top: 20dvmin;
                }
            }
        }
    }
    @keyframes shrink {
        100% {
            min-height: 0;
        }
    }
}
