/* These can be applied to change the default behaviour */

.game-info {
    img.game {
        transition: 200ms;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 1rem var(--color);
        }
    }
}

main:has(.with-something) {
    display: grid;
    grid-template-columns: 1fr;
    @media (width >= 1000px) {
        grid-template-columns: 1fr auto;
        gap: 3rem;
    }
}

.with-something {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
    align-items: center;
    overflow: hidden;

    @media (width < 1000px) {
        grid-template-columns: 1fr;
    }

    p {
        translate: -2rem;
        opacity: .2;
        animation: enter alternate forwards;
        animation-timeline: view(block 50% 0%);
    }

    img {
        box-sizing: border-box;
        max-width: 100%;
        width: 400px;
        aspect-ratio: 1;
        border-radius: 100%;
        border: 0.5em solid var(--color);
        object-fit: cover;
        rotate: 0.1turn;
        translate: -2rem 2rem;
        animation: enter alternate forwards;
        animation-timeline: view(block 70% 10%);
        transform: scale(.1);
        margin-inline: auto;
    }

    &:first-child {
        p {
            translate: none;
        }
    }

    &:last-child {
        img {
            animation-timeline: view(block 100% 10%);
        }
    }
}

@keyframes enter {
    100% {
        transform: scale(1);
        rotate: none;
        translate: none;
        opacity: 1;
    }
}
